<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>Beefreal | <%= title %></title>
</head>
<body>
    <h1>Please enter your email address</h1>

    <form method="post" enctype="text/plain" action="">
        <br>Email:
        <input type="text" name="ID" size="50" maxlength="45"> 
    </form>
    
    <a href="/">Back to Home</a>

</body>
</html>