<!-- This will replace main.html-->

<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>Beefreal main page</title>
</head>
<body>
    <h1>Beef 'Em Up, Homies</h1>

    <h2>Welcome to Beefreal! (Replace with React main page</h2>
    <nav>
        <a href="/profile">My Profile</a>
    </nav>
</body>
</html>