<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>Beefreal main page | <%= title %></title>
</head>
<body>
    <h1>Beef 'Em Up, Homies</h1>

    <h2>Welcome to Beefreal! (Replace with React main page</h2>
    
    <nav>
        <ol>
            <a href="/login">Sign In</a>
            <a href="/profile-page">My Profile</a> 
        </ol>
    </nav>
    
</body>
</html>
