<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>BeefReal | <%= title %></title>
</head>
<body>
    <h1>Name: </h1>
    <h1>Age: </h1>
    <h1>Hobby: </h1>

    <p1>Welcome to Beefreal!</p1>
    <nav>
        <a href="/">Back to Home</a>
    </nav>
</body>
</html>