<!-- inspired by: https://www.geeksforgeeks.org/search-bar-using-html-css-and-javascript/ -->
<!-- And this: https://www.geeksforgeeks.org/how-to-implement-search-and-filtering-in-a-rest-api-with-node-js-and-express-js/ -->

<!-- HELPFUL: https://dev.to/am20dipi/how-to-build-a-simple-search-bar-in-javascript-4onf -->
<!-- https://stackoverflow.com/questions/38946748/how-to-use-post-get-for-making-search-box-in-nodejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>Beefreal | <%= title %></title>
    
</head>
<body>
    
    <% data.forEach(item => { %>
    <% }); %> 
    
    <script>
        // let data = <%= JSON.stringify(data)%>; 
        function searchbyname() {
            console.log("function called");
            // console.log(item);
            /*
            let input = document.getElementById('searchbar').value.toLowerCase();
            try {
                let namelist = data.map(item => item.name); 
                //let namelist = document.getElementsByClassName('name-item');
                console.log(namelist);

                for(i = 0; i < namelist.length; i++)
                {
                    if(!namelist[i].innerHTML.toLowerCase().includes(input))
                    {
                        namelist[i].style.display="none";
                    }
                    else{
                        namelist[i].style.display="none";
                    }
                }

            } catch (error)
            {
                console.log(error);
            }
            */
        }
    
    
    </script>
    

    <br>Search for Friends:
    <!-- onkeyup doesn't work: <input id="searchbar" size="50" onkeyup="searchbyname()" class='input', type="text" name="search" placeholder="Search friends" /> -->
    <input id="searchbar" size="50" class='input', type="text" name="search" placeholder="Search friends" />
<script>
    const searchInput = document.querySelector('.input')
    searchInput.addEventListener("input", () => {
    // 1. write a function that removes any previous results from the page
    searchbyname()
})
</script>
    <nav>
        <ul>
             <a href="/profile-page">My Profile</a>
             <a href="/">Back to Home</a>
        </ul>
    </nav>
</body>
</html>